<%- include('../components/header') %>

<form action="/login" method="post" class="login-form">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <h3>Sign In</h3>
    <%- include('../components/alert') %>
    <div class="form-control <%= errorMessage.find(e => e.param === 'email') ? 'error' : '' %>">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" value="<%= oldInput.email || '' %>"
               placeholder="Your email address" maxlength="50">
    </div>
    <div class="form-control <%= errorMessage.find(e => e.param === 'password') ? 'error' : '' %>">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Your password" maxlength="50">
    </div>
    <div class="form-control">
        <button type="submit" class="btn btn-block">Login</button>
    </div>
    <p class="centered">
        <a href="/reset">Forgot password?</a>
    </p>
</form>

<%- include('../components/footer') %>