<%- include('../components/header') %>

<h3>Cart</h3>

<% if(products.length > 0) { %>
    <ul>
        <% products.forEach(product => { %>
        <li>
            <p><%= product.productId.title %> (Amount: <%= product.quantity %> x <%= product.productId.price %>)</p>
            <form action="/cart-delete-item" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="productId" value="<%= product.productId._id %>">
                <button type="submit" class="btn">DELETE</button>
            </form>
        </li>
        <% }) %>
    </ul>
    <!-- <form action="/create-order" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="btn">Order Now</button>
    </form> -->
    <a href="/checkout" class="btn">Checkout</a>
<% } else { %>
    <p>No products in cart</p>
<% } %>

<%- include('../components/footer') %>