<%- include('../components/header') %>

    <div class="centered">
        <h1><%= product.title %></h1>
        <hr>
        <div>
            <img src="/<%= product.imageUrl %>">
        </div>
        <h2>$<%= product.price %></h2>
        <p>
            <%= product.description %>
        </p>
        <%- include('../components/add-to-cart', {product: product}) %>
    </div>

<%- include('../components/footer') %>